<div class="row">
  <!-- Profile Info and Notifications -->
  <div class="col-md-6 col-sm-8 clearfix">
    <ul class="user-info pull-left pull-none-xsm">
      <!-- Profile Info -->
      <li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->
        <%= link_to root_path do %>
          <%= image_tag("thumb@2x.png", class: "img-circle", alt: "") %> Bonjour Admin
        <% end %>
      </li>
    </ul>
  </div>
  <!-- Raw Links -->
  <div class="col-md-6 col-sm-4 clearfix hidden-xs">
    <ul class="list-inline links-list pull-right">
      <li>
        <a href="extra-login.html">
        </a><a href="https://demo.webpos.solutions/admin/logout.html">Déconnexion</a> <i class="entypo-logout right"></i>
      </li>
    </ul>
  </div>
</div>
<hr/>