*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.row{
  display: -webkit-box;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

hr {
  margin-top: 17px;
  margin-bottom: 17px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

a {
  color: #373e4a;
  text-decoration: none;

  &:focus, &:hover{
    text-decoration: none;
    color: #818da2;
  }
  &:focus{
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

// Texts
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 300;
  color: #505458;
}
h1, h2, h3 {
  margin-top: 17px;
  margin-bottom: 8.5px;
}
h2, .h2 {
  font-size: 25px;
}
h3, .h3 {
  font-size: 21px;
}
.h4, h4 {
  font-size: 18px;
}
h4 {
  line-height: 22px;
}

p {
  margin: 0 0 10px;
}
.semi-bold {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}




.pull-right {
  float: right !important;
}
@media (min-width: 768px){
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10,.col-sm-11 {
    float: left;
  }
}
.pull-left {
  float: left !important;
}

.clearfix::after{
  clear: both;
}
.clearfix::after, .clearfix::before{
  content: " ";
  display: table;
}

.col-sm-offset-3 {
  margin-left: 25%;
}
.col-sm-6 {
  width: 50%;
}

.close {
  float: right;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.loading-animator {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
  border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.4);
  border-image: none;
  border-radius: 10px 10px 10px 10px;
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 2px;
  display: block;
  height: 14px;
  margin-left: 40%;
  width: 14px;
  z-index: 2000;
}
