*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
hr {
  margin-top: 17px;
  margin-bottom: 17px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

a:hover {
  &:hover{
    text-decoration: none;
    color: #818da2;
  }
  &:focus{
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

h2, .h2 {
  font-size: 25px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: $black;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.clearfix::after{
  clear: both;
}
.clearfix::after, .clearfix::before{
  content: " ";
  display: table;
}