*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.row{
  display: -webkit-box;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

hr {
  margin-top: 17px;
  margin-bottom: 17px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

a {
  color: #373e4a;
  text-decoration: none;

  &:focus, &:hover{
    text-decoration: none;
    color: #818da2;
  }
  &:focus{
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

h2, .h2 {
  font-size: 25px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: $black;
}

.pull-right {
  float: right !important;
}
@media (min-width: 768px){
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10,.col-sm-11 {
    float: left;
  }
}
.pull-left {
  float: left !important;
}

.clearfix::after{
  clear: both;
}
.clearfix::after, .clearfix::before{
  content: " ";
  display: table;
}

.col-sm-offset-3 {
  margin-left: 25%;
}
.col-sm-6 {
  width: 50%;
}

.close {
  float: right;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
