<div class="tile-stats <%= card_color %>">
  <div class="icon">
    <i class="material-icons">
      supervisor_account
    </i>
  </div>
  <div class="num" data-start="0" data-end="83" data-postfix="" data-duration="1500" data-delay="0"><%= registration_count %></div>
  <h3><%= ressource_type %></h3>
  <p><%= message %>.</p>
</div>