<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered datatable" id="customer_account_id">
      <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Nom</th>
        <th>Prenom</th>
      </tr>
      </thead>
      <tbody>
      <% @accounts.each_with_index do |account,id| %>
        <tr>
          <td>
            <%= id+1 %>
          </td>
          <td>
            <%= account.email %>
          </td>
          <td>
            <%= account.firstname %>
          </td>
          <td>
            <%= account.lastname %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
