<div class="modal fade" id="modal-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>

      <div class="modal-body">
        Etes-vous sûr de vouloir supprimer l'élément « <b id="modal-body-element">Element</b> » ?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <%= link_to  "Confirmer la suppression", "", method: :delete, class: "btn btn-red", id: "modal-footer-button" %>
        </div>
    </div>
  </div>
</div>
