<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Mr, <%= @partner.name %>!</h1>
    <p>Votre compte est créé sur la plateforme kulucar.sn, avec l'adresse email: <strong> <%= @partner.email %> </strong></p>
    <p>Votre mot de passe par défaut est : <strong> <%= @password %> </strong></p>
    <p>Veuillez vous connecter sur la plateforme et modifier votre mot de passe</p>
    <p>A très bientôt sur notre plateforme <%= link_to 'culukar', 'kulucar.sn' %></p>
  </body>
</html>