body {
  font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: #949494;
  background-color: #ffffff;
}

.page-container::after {
  clear: both;
}
.page-container::before, .page-container::after {
  content: " ";
  display: table;
}

.page-container {
  position: absolute;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 280px;
  width: 100%;
}

.page-container .main-content {
  position: relative;
  float: left;
  width: 100%;
  padding: 20px;
  z-index: 2;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row::before {
  content: " ";
  display: table;
}

hr {
  margin-top: 17px;
  margin-bottom: 17px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.user-info{
  list-style: none;
  margin: 0;
  padding: 0;
}

.pull-left {
  float: left !important;
}

.user-info > li.profile-info {
  margin-right: 10px;
}

.user-info > li {
  float: left;
}

.dropdown {
  position: relative;
}

.profile-info.dropdown > a{
  color: #2b303a;
  text-decoration: none;
  font-size: 14px;
  transition: all 300ms ease-in-out;
}

a {
  background: transparent;
}

.img-circle {
  border-radius: 50%;
  width: 44px;
}

.clearfix::after{
  clear: both;
}
.clearfix::after, .clearfix::before{
  content: " ";
  display: table;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.links-list{
  white-space: nowrap;
  padding-top: 14px;
  padding-bottom: 8px;
}

.pull-right {
  float: right !important;
}

.header .nav {
  display: block;
}
.header .nav li.dropdown .dropdown-toggle i {
  color: #eff4f8 !important;
}
.header .nav li.dropdown.user .dropdown-toggle i {
  display: inline-block;
  margin-top: 5px;
  margin: 0;
  font-size: 16px;
  color: #808080 !important;
}
.header .nav > li {
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: inline-block;
  float: left;
}
.header .nav > li.dropdown .dropdown-toggle {
  margin: 0px;
}
.header .nav > li.dropdown .dropdown-toggle i {
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header .nav > li.dropdown .dropdown-toggle .badge {
  position: absolute;
  font-size: 10px !important;
  font-weight: 700;
  top: 0px;
  right: 2px;
  text-align: center;
  background-color: #f35958;
  padding: 4px 6px;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  border-radius: 12px !important;
  text-shadow: none !important;
  color: #ffffff;
}
.header .nav > li.dropdown .dropdown-toggle .badge.bubble-only {
  background-color: #f35958;
  height: 10px;
  width: 9px;
  top: 7px;
  right: 5px;
  display: block;
  padding: 0;
}
.header .nav > li.dropdown .active {
  background-color: #0d0f12;
}
.header .nav > li.dropdown.user .dropdown-toggle {
  padding: 8px 4px 7px 9px;
}
.dropdown-toggle::after{
  display: none;
}
.header .nav > li.dropdown.user .dropdown-toggle:hover {
  text-decoration: none;
}
.header .nav > li.quicklinks > a {
  padding: 4px 2px !important;
}
.header .nav > li.quicklinks > a i {
  display: inline-block;
  margin-top: 5px;
  margin: 0;
  font-size: 24px;
  color: #7a7f8c !important;
}
.header .nav > li.quicklinks > a .badge {
  position: absolute;
  bottom: 4px;
  right: 0px;
}
.header .nav .h-seperate {
  height: 6px;
  width: 2px;
  margin: 0px 10px 0px 10px;
  border-left: 1px solid #e1e1e1;
  display: inline;
  position: relative;
  top: 6px;
}
.header .nav .dropdown-menu {
  margin-top: 3px;
}
.header .header-seperation {
  width: 250px;
  display: block;
  float: left;
  height: 60px;
}
.header .header-seperation .notifcation-center {
  margin-right: 15px !important;
}
.header .header-quick-nav {
  padding-right: 10px;
  height: 60px;
  -webkit-transition-duration: 1;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

 /* line 3827, app/assets/stylesheets/config/_bootstrap-variables.scss */
.header .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

/* line 3850, app/assets/stylesheets/config/_bootstrap-variables.scss */
.header  .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

/* line 3855, app/assets/stylesheets/config/_bootstrap-variables.scss */
.header .dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

/* line 3862, app/assets/stylesheets/config/_bootstrap-variables.scss */
.header .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

/* line 3872, app/assets/stylesheets/config/_bootstrap-variables.scss */
.header .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

/* line 3878, app/assets/stylesheets/config/_bootstrap-variables.scss */
.header .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

/* line 3885, app/assets/stylesheets/config/_bootstrap-variables.scss */
.header .dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
  color: #777;
}

/* line 3889, app/assets/stylesheets/config/_bootstrap-variables.scss */
.header .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* line 3897, app/assets/stylesheets/config/_bootstrap-variables.scss */
.open > .dropdown-menu {
  display: block;
}

/* line 3901, app/assets/stylesheets/config/_bootstrap-variables.scss */
.open > a {
  outline: 0;
}






