page-container {
  position: absolute;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 280px;
  width: 100%;
}

.row::before {
  content: " ";
  display: table;
}

hr {
  margin-top: 17px;
  margin-bottom: 17px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.user-info{
  list-style: none;
  margin: 0;
  padding: 0;
}

.pull-left {
  float: left !important;
}

.user-info > li.profile-info {
  margin-right: 10px;
}

.user-info > li {
  float: left;
}

.dropdown {
  position: relative;
}

.profile-info.dropdown > a{
  color: #2b303a;
  text-decoration: none;
  font-size: 14px;
  transition: all 300ms ease-in-out;
}

a {
  background: transparent;
}

.img-circle {
  border-radius: 50%;
  width: 44px;
}

