.user-info{
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-info > li.profile-info {
  margin-right: 10px;
}

.user-info > li {
  float: left;
}

.dropdown {
  position: relative;
}

.profile-info.dropdown > a{
  color: #2b303a;
  text-decoration: none;
  font-size: 14px;
  transition: all 300ms ease-in-out;
}

a {
  background: transparent;
}

.img-circle {
  border-radius: 50%;
  width: 44px;
}

.header .nav {
  display: block;
}
.header .nav li.dropdown .dropdown-toggle i {
  color: #eff4f8 !important;
}
.header .nav li.dropdown.user .dropdown-toggle i {
  display: inline-block;
  margin-top: 5px;
  margin: 0;
  font-size: 16px;
  color: #808080 !important;
}
.header .nav > li {
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: inline-block;
  float: left;
}
.header .nav > li.dropdown .dropdown-toggle {
  margin: 0px;
}
.header .nav > li.dropdown .dropdown-toggle i {
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header .nav > li.dropdown .active {
  background-color: #0d0f12;
}
.header .nav > li.dropdown.user .dropdown-toggle {
  padding: 8px 4px 7px 9px;
}
.header .nav > li.dropdown.user .dropdown-toggle:hover {
  text-decoration: none;
}
.header .nav > li.quicklinks > a {
  padding: 4px 2px !important;
}
.header .nav > li.quicklinks > a i {
  display: inline-block;
  margin-top: 5px;
  margin: 0;
  font-size: 24px;
  color: #7a7f8c !important;
}
.header .nav > li.quicklinks > a .badge {
  position: absolute;
  bottom: 4px;
  right: 0px;
}
.header .nav .h-seperate {
  height: 6px;
  width: 2px;
  margin: 0px 10px 0px 10px;
  border-left: 1px solid #e1e1e1;
  display: inline;
  position: relative;
  top: 6px;
}
.header .nav .dropdown-menu {
  margin-top: 3px;
}
.header .header-seperation {
  width: 250px;
  display: block;
  float: left;
  height: 60px;
}
.header .header-seperation .notifcation-center {
  margin-right: 15px !important;
}
.header .header-quick-nav {
  padding-right: 10px;
  height: 60px;
  -webkit-transition-duration: 1;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.dropdown-toggle::after{
  display: none;
}
 /* line 3827, app/assets/stylesheets/config/_bootstrap-variables.scss */
.header .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 3855, app/assets/stylesheets/config/_bootstrap-variables.scss */
.header .dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

/* line 3878, app/assets/stylesheets/config/_bootstrap-variables.scss */
.header .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

/* line 3885, app/assets/stylesheets/config/_bootstrap-variables.scss */
.header .dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
  color: #777;
}

/* line 3889, app/assets/stylesheets/config/_bootstrap-variables.scss */
.header .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* line 3897, app/assets/stylesheets/config/_bootstrap-variables.scss */
.show > .dropdown-menu {
  display: block;
}

/* line 3901, app/assets/stylesheets/config/_bootstrap-variables.scss */
.show  > a {
  outline: 0;
}

.header .popover-title {
  border-bottom: 0px;
  padding-top: 14px;
}
.header .nav > li.dropdown,
.header .nav > li.dropdown > a {
  text-align: center;
}
.header .nav .show > a,
.nav .show > a:hover,
.nav .show > a:focus {
  background-color: #ffffff;
}
.header .pull-right > li.show > .dropdown-menu,
.header .nav > li.show > .dropdown-menu.pull-right {
  margin-right: -6px;
  margin-top: 7px;
}

.header .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.header .dropdown-menu li > a > .material-icons {
  font-size: 16px;
  position: relative;
  top: -1px;
}
.header .nav>li>.dropdown-menu::before {
  position: absolute;
  top: -7px;
  right: 50px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0,0,0,.2);
  content: '';
}




