<div class="row">
  <div class="tile-stats tile-blue">
    <div class="icon">
      <i class="material-icons">
        directions_car
      </i>
    </div>
    <div class="num" data-start="0" data-end="83" data-postfix="" data-duration="1500" data-delay="0">83</div>
    <h3>Registered users</h3>
    <p>so far in our blog, and our website.</p>
  </div>
</div>
