<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">Table inside panel</div>
  </div>
  <div class="panel-body with-table" style="display: block;">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
        <th>phone number</th>
        <th>type</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Arlind</td>
        <td>Nushi</td>
        <td>771452362</td>
        <td>business</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>