<div class="page-container">
  <%= render 'component/sidebar'%>
  <div class="main-content" style="min-height: 1812px;">
    <%= render 'shared/navbar' %>
    <hr>
    <ol class="breadcrumb bc-3">
      <li>
        <%= link_to root_path do %>
          <i class="material-icons md-18">home</i>Mon profil
        <% end %>
      </li>
    </ol>
    <hr>
    <br>
    <%= render 'admin/users/form', my_url:  admin_user_path %>
  </div>
</div>
